<<<<<<< HEAD
$colorMaimgreen: #559534
$colorLightgreen: #ddead7
$colorContent: #627A86
$colorTitle: #00273C

=======
>>>>>>> 1c407610771bec1b400e685664f086587e6e99ed
.product
    margin-top: 100px
    width: 100%
    height: 700px
    .title
        left: 10%
