$colorMaimgreen: #559534
$colorLightgreen: #ddead7
$colorContent: #627A86
$colorTitle: #00273C

.gallery-picture-first img
    width: 100%
    height: 90vh
    margin: 0 0 100px 0

.gallery-picture-second
    width: 100%
    height: 90vh
